snippet main "Standard main"
int main (void) {
	
	$1

	return 0;
}
endsnippet

snippet li "Standard libraries"
#include <stdio.h>
#include <stdlib.h>
#include <math.h>
#include <string.h>
$1
endsnippet

snippet pr "printf()"
printf("$1); $2
endsnippet

snippet sc "scanf()"
scanf("$1);
endsnippet

snippet for "For loop"
for ($1; $2; $3) {
	$3
}
endsnippet

snippet fp "fprintf()"
fprintf($1, "$2); $3
endsnippet
