snippet cout "cout" bA
cout << $1
endsnippet

snippet endl "endl" A
<< endl;
endsnippet

# TODO: Templates, classes, methods, attributes, operator overloading templates.

snippet vector "Include vector" b
#include <vector>
endsnippet


